## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# adding T10 T7 T8 for optimization efforts
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17','T10','T7','T8']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# create list of all unique classification values
classification_values = application_df['CLASSIFICATION'].unique()
# check length of new list
len(classification_values)

71

In [9]:
# create list of classification values we want to keep out of other category
classifications_to_keep = ['C1000','C2000','C1200','C3000','C2100']
# list comprehension to grab all values not in the keep list
classifications_to_replace = [x for x in classification_values if x not in classifications_to_keep]
# check length of new list
len(classifications_to_replace)

66

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# check dtypes of columns again
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [12]:
# check amount of unique categories of columns if need be
application_df['ORGANIZATION'].unique()

array(['Association', 'Co-operative', 'Trust', 'Corporation'],
      dtype=object)

In [13]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION',
                                                 'USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'],
                                                    dtype=float, drop_first=True)
app_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_Family/Parent,AFFILIATION_Independent,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = app_dummies_df.IS_SUCCESSFUL.values
X = app_dummies_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# see the length and initial input node number for model
len(X_train[0])

33

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# model 2 with more nodes on hidden layers decreasing by 10 each time
num_inputs = len(X_train[0])
layer_1_nodes = 26
layer_2_nodes = 16
layer_3_nodes = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=layer_1_nodes, input_dim=num_inputs, activation='relu'))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=layer_2_nodes, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=layer_3_nodes, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 26)                884

 dense_1 (Dense)             (None, 16)                432

 dense_2 (Dense)             (None, 8)                 136

 dense_3 (Dense)             (None, 1)                 9

=================================================================
Total params: 1,461
Trainable params: 1,461
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 14s 13ms/step - loss: 0.5974 - accuracy: 0.7071
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5595 - accuracy: 0.7310
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5557 - accuracy: 0.7310
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5545 - accuracy: 0.7316
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7330
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7334
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7329
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7330
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7341
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7331
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7346
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7346
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7343
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7346
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7345
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7355
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7350
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7349
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7354
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7347
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7353
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7360
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7357
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7362
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7349
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7363
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7365
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7376
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7363
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7362
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7368
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7372
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7371
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7364
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7374
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7379
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7365
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7369
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7376
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7374
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7372
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7372
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7378
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7372
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7376
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7372
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7362
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7374
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7379
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7369
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7376
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7380
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7381
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7382
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7384
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7383
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7376
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7382
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7377
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7389
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7384
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7381
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7387
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7390
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7377
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7385
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7380
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7384
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7377
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7382
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7385
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7390
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7385
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7380
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7390
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7388
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7395
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7386
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7389
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7386
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7390
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7381
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7383
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7382
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7385
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7390
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7390
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7389
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7389
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7384
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7388
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7391
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7386
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7384
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7391
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7392
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7388
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7391

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5599 - accuracy: 0.7234 - 505ms/epoch - 2ms/step
Loss: 0.559910774230957, Accuracy: 0.7233819365501404

In [22]:
# Export our model to HDF5 file
nn.save('model_4.h5') 
#tf.keras.models.save_model(nn, 'model_1.h5')